[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipython = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
django-crontab = "*"
requests = "*"

[requires]
python_version = "3.6"
